<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxgis.jc.system.web.mapper.SysMenuMapper">

    <select id="voList" resultType="cn.wxgis.jc.system.resp.SysMenuResponse">
        select m.*, pm.name parentName
        from sys_menu m
            left join sys_menu pm on pm.id = m.parent_id
        <where>
            and m.platform = #{platform}
            and m.del_flag = 0
            <if test="visible != null">
                and m.visible = #{visible}
            </if>
        </where>
        order by m.order_num, m.create_time desc
    </select>

    <select id="getListByMenu" resultType="cn.wxgis.jc.system.resp.SysMenuResponse">
        select m.*, pm.name parentName
        from sys_menu m
        left join sys_menu pm on pm.id = m.parent_id
        <where>
            and m.platform = #{platform}
            and m.del_flag = 0 and m.visible = 0
            and m.type != 'F'
        </where>
        order by m.order_num, m.create_time desc
    </select>

    <select id="getListByFunction" resultType="cn.wxgis.jc.system.resp.SysMenuResponse">
        select m.*, pm.name parentName
        from sys_menu m
        left join sys_menu pm on pm.id = m.parent_id
        <where>
            and m.platform = #{platform}
            and m.del_flag = 0 and m.visible = 0
            and m.type = 'F'
        </where>
        order by m.order_num, m.create_time desc
    </select>

    <select id="getMenuTreeByUserId" resultType="cn.wxgis.jc.system.resp.SysMenuResponse">
        select distinct m.*
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role ro on ur.role_id = ro.id
                 left join sys_user u on ur.user_id = u.id
        <where>
            and m.del_flag = 0 and m.status = 0  and m.visible = 0
            and ro.status = 0
            and m.type in ('M', 'C')
            and m.platform = #{platform}
            and u.id = #{userId}
        </where>
        order by m.parent_id, m.order_num
    </select>

    <select id="getFunctionTreeByUserId" resultType="cn.wxgis.jc.system.resp.SysMenuResponse">
        select distinct m.*
        from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        left join sys_role ro on ur.role_id = ro.id
        left join sys_user u on ur.user_id = u.id
        <where>
            and m.del_flag = 0 and m.status = 0  and m.visible = 0
            and ro.status = 0
            and m.type = 'F'
            and m.platform = #{platform}
            and u.id = #{userId}
        </where>
        order by m.parent_id, m.order_num
    </select>

    <select id="selectMenuPermsByRoleId" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
        <where>
            and m.platform = 1
            and m.status = 0 and m.visible = 0
            and rm.role_id = #{roleId}
        </where>
    </select>

    <select id="selectMenuPermsByUserId" resultType="java.lang.String">
        select distinct m.perms
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role r on r.id = ur.role_id
        <where>
            and m.platform = 1
            and m.status = '0'
            and r.status = '0'
            and ur.user_id = #{userId}
        </where>
    </select>


</mapper>
