<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znv.manage.dao.event.EventCheckFeedbackDao">

    <resultMap type="com.znv.manage.common.bean.event.EventCheckFeedback" id="EventCheckFeedbackMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="isTrue" column="is_true" jdbcType="VARCHAR"/>
        <result property="checkTime" column="check_time" jdbcType="TIMESTAMP"/>
        <result property="checkContent" column="check_content" jdbcType="VARCHAR"/>
        <result property="fileUrls" column="file_urls" jdbcType="VARCHAR"/>
        <result property="checkId" column="check_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EventCheckFeedbackMap">
        select id,
               is_true,
               check_time,
               check_content,
               file_urls,
               check_id
        from t_cfg_event_check_feedback
        where id = #{id}
    </select>

    <select id="queryByCheckId" resultType="com.znv.manage.common.bean.event.EventCheckFeedback">
        select id,
               is_true,
               check_time,
               check_content,
               file_urls,
               check_id
        from t_cfg_event_check_feedback
        where check_id = #{id} limit 1
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_cfg_event_check_feedback
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="isTrue != null and isTrue != ''">
                and is_true = #{isTrue}
            </if>
            <if test="checkTime != null">
                and check_time = #{checkTime}
            </if>
            <if test="checkContent != null and checkContent != ''">
                and check_content = #{checkContent}
            </if>
            <if test="fileUrls != null and fileUrls != ''">
                and file_urls = #{fileUrls}
            </if>
            <if test="checkId != null">
                and check_id = #{checkId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into t_cfg_event_check_feedback(is_true, check_time, check_content, file_urls, check_id)
        values (#{isTrue}, #{checkTime}, #{checkContent}, #{fileUrls}, #{checkId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_cfg_event_check_feedback(is_true, check_time, check_content, file_urls, check_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.isTrue},#{entity.checkTime},#{entity.checkContent},#{entity.fileUrls},#{entity.checkId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into t_cfg_event_check_feedback(is_true,check_time,check_content,file_urls,check_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.isTrue}, #{entity.checkTime}, #{entity.checkContent}, #{entity.fileUrls}, #{entity.checkId})
        </foreach>
        on duplicate key update
        is_true = values(is_true),
        check_time = values(check_time),
        check_content = values(check_content),
        file_urls = values(file_urls),
        check_id = values(check_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update t_cfg_event_check_feedback
        <set>
            <if test="isTrue != null and isTrue != ''">
                is_true = #{isTrue},
            </if>
            <if test="checkTime != null">
                check_time = #{checkTime},
            </if>
            <if test="checkContent != null and checkContent != ''">
                check_content = #{checkContent},
            </if>
            <if test="fileUrls != null and fileUrls != ''">
                file_urls = #{fileUrls},
            </if>
            <if test="checkId != null">
                check_id = #{checkId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_cfg_event_check_feedback
        where id = #{id}
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatch">
        delete
        from t_cfg_event_check_feedback
        where find_in_set(id, #{ids})
    </delete>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="EventCheckFeedbackMap">
        select
        id, is_true, check_time, check_content, file_urls, check_id
        from t_cfg_event_check_feedback
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="checkId != null">
                and check_id = #{checkId}
            </if>
        </where>
    </select>
</mapper>

