<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znv.manage.dao.event.EventNodeDao">

    <resultMap type="com.znv.manage.common.bean.event.EventNode" id="EventNodeMap">
        <result property="id" column="ID" jdbcType="INTEGER"/>
        <result property="nodeName" column="NODE_NAME" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EventNodeMap">
        select ID,
               NODE_NAME,
               CREATE_TIME
        from T_CFG_EVENT_NODE
        where ID = #{id}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from T_CFG_EVENT_NODE
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="nodeName != null and nodeName != ''">
                and NODE_NAME = #{nodeName}
            </if>
            <if test="createTime != null">
                and CREATE_TIME = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into T_CFG_EVENT_NODE(NODE_NAME)
        values (#{nodeName})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into T_CFG_EVENT_NODE(NODE_NAME)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nodeName})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into T_CFG_EVENT_NODE(NODE_NAME)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nodeName})
        </foreach>
        on duplicate key update
        NODE_NAME = values(NODE_NAME)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update T_CFG_EVENT_NODE
        <set>
            <if test="nodeName != null and nodeName != ''">
                NODE_NAME = #{nodeName},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
        </set>
        where ID = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from T_CFG_EVENT_NODE
        where ID = #{id}
    </delete>

    <!--通过主键批量删除-->
    <delete id="deleteBatch">
        delete
        from T_CFG_EVENT_NODE
        where find_in_set(ID, #{ids})
    </delete>

    <!--条件查询-->
    <select id="queryByCondition" resultMap="EventNodeMap">
        select
        ID, NODE_NAME, CREATE_TIME
        from T_CFG_EVENT_NODE
        <where>
            <if test="id != null">
                and ID = #{id}
            </if>
            <if test="nodeName != null and nodeName != ''">
                and NODE_NAME = #{nodeName}
            </if>
        </where>
    </select>
</mapper>

