/****** 按钮 ******/

// success-普通模式
$thButtonSuccess: #12908c; // 按钮背景色
$thButtonSuccessT: #fff; // 按钮文字色
$thButtonSuccessHover: #6fadac; // 滑过时背景色
$thButtonSuccessHoverT: #fff; // 滑过时文字色
$thButtonSuccessActive: #12908d; // 点击后背景色
$thButtonSuccessActiveT: #fff; // 点击后文字色
