<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grandlynn.spa.catalogue.mapper.CataloguePublishCheckMapper">

    <resultMap id="BaseResultMap" type="com.grandlynn.spa.catalogue.entity.CataloguePublishCheckDO">
        <!--@Table catalogue_publish_check-->
        <result property="id" column="id" />
        <result property="tenantId" column="tenant_id" />
        <result property="version" column="version" />
        <result property="appId" column="app_id" />
        <result property="remark" column="remark" />
        <result property="deleted" column="is_deleted" />
        <result property="createdBy" column="created_by" />
        <result property="createdTime" column="created_time" />
        <result property="updatedBy" column="updated_by" />
        <result property="updatedTime" column="updated_time" />
        <result property="sysTableId" column="sys_table_id" />
        <result property="checkVersion" column="check_version" />
        <result property="checkType" column="check_type" />
        <result property="operationMsg" column="operation_msg" />
    </resultMap>

</mapper>