<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znv.manage.dao.LogServiceMapper">
    <!--通过<resultMap>映射实体类属性名和表的字段名对应关系 -->
    <resultMap type="com.znv.manage.common.bean.OperLog" id="operLogMap">
        <id property="id" column="id" />
        <result property="operator" column="operator" />
        <result property="operUserId" column="oper_userid" />
        <result property="operUserName" column="oper_username" />
        <result property="ip" column="ip" />
        <result property="time" column="time" />
        <result property="operatedUserId" column="operated_userid" />
        <result property="operatedUserName" column="operated_username" />
        <result property="result" column="result" />
        <result property="detail" column="detail" />
    </resultMap>

    <select id="queryLog" resultType="map" resultMap="operLogMap">
        SELECT operator,oper_userid,oper_username,ip,DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') as time,operated_userid,operated_username,result,detail FROM t_cfg_log
        WHERE
        <if test="id != null">id=#{id} AND </if>
        <if test="operator != null">operator=#{operator} AND </if>
        <if test="operUserId != null">oper_userid = #{operUserId} AND </if>
        <if test="operUserName != null">oper_username = #{operUserName} AND </if>
        <if test="ip != null">ip = #{ip} AND </if>
        <if test="time != null">time = #{time} AND </if>
        <if test="startTime != null">time >= #{startTime} AND </if>
        <if test="endTime != null">#{endTime} >=time AND </if>
        <if test="operatedUserId != null">operated_userid = #{operatedUserId} AND </if>
        <if test="operatedUserName != null">operated_username = #{operatedUserName} AND </if>
        <if test="result != null">result = #{result} AND </if>
        <if test="detail != null">detail = #{detail} AND </if>
        <if test="userNameList != null">
			oper_username IN
			<foreach collection="userNameList" item="username" index="index" open="(" close=")" separator=",">
			  #{username}
			</foreach>
			AND
		</if>
        1=1
        order by time desc
    </select>

    <insert id="insertLog" parameterType="map" useGeneratedKeys="false">
      INSERT INTO t_cfg_log (operator,oper_userid, oper_username, ip, time,operated_userid,operated_username,result,detail)
        VALUES (
        #{operator, jdbcType=VARCHAR},
        #{operUserId, jdbcType=BIGINT},
        #{operUserName, jdbcType=VARCHAR},
        #{ip, jdbcType=VARCHAR},
        #{time, jdbcType=TIMESTAMP },
        #{operatedUserId, jdbcType=BIGINT},
        #{operatedUserName, jdbcType=VARCHAR},
        #{result, jdbcType=INTEGER},
        #{detail, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="multiInsertLog" parameterType="map" useGeneratedKeys="false">
        INSERT INTO t_cfg_log (operator,oper_userid, oper_username, ip, time,operated_userid,operated_username,result,detail)
        VALUES
        <foreach collection="users" item="user" separator=",">
            (
            #{operator, jdbcType=VARCHAR},
            #{operUserId},
            #{operUserName, jdbcType=VARCHAR},
            #{ip, jdbcType=VARCHAR},
            #{time, jdbcType=TIMESTAMP },
            #{user.userId},
            #{user.userName, jdbcType=VARCHAR},
            #{result},
            #{detail, jdbcType=VARCHAR}
            )
        </foreach>

    </insert>

    <select id="queryLogKinds" resultType="map">
        SELECT DISTINCT operator as operator FROM t_cfg_log;
    </select>

    <select id="queryLogExport" resultType="map">
        SELECT oper_userId as operUserId, oper_username as operUsername, operator as operator,
        ip as ip,DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') as time,operated_userid as operatedUserid,
        operated_username as operatedUsername,result as result, detail as detail FROM t_cfg_log
        WHERE
        1=1
        <if test="operator != null"> AND operator=#{operator}</if>
        <if test="operUserName != null"> AND oper_username = #{operUserName} </if>
        <if test="startTime != null"> AND time >= #{startTime} </if>
        <if test="endTime != null"> AND #{endTime} >=time </if>
        order by time desc
    </select>
</mapper>