<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jslc.modules.szbh.mapper.ManageUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="manageUserResultMap" type="com.jslc.modules.szbh.entity.ManageUser">
        <result column="id" property="id"/>
        <result column="biz_id" property="bizId"/>
        <result column="bh_user_id" property="bhUserId"/>
    </resultMap>


    <select id="selectManageUserPage" resultMap="manageUserResultMap">
        select * from bh_manage_user where is_deleted = 0
    </select>

</mapper>
