<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jslc.modules.szbh.mapper.SysCronConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="sysCronConfigResultMap" type="com.jslc.modules.szbh.entity.SysCronConfig">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="cron" property="cron"/>
        <result column="desc" property="desc"/>
        <result column="is_enable" property="isEnable"/>
        <result column="syn_ids" property="synIds"/>
        <result column="dept_id" property="deptId"/>

    </resultMap>

    <resultMap id="sysCronConfigVOResultMap" type="com.jslc.modules.szbh.vo.SysCronConfigVO">

    </resultMap>


    <select id="selectSysCronConfigPage" resultMap="sysCronConfigVOResultMap">
        select * from sys_cron_config where is_deleted = 0
    </select>

</mapper>
