@font-face {
  font-family: "iconfont"; /* Project id 4073999 */
  src: url('iconfont.woff2?t=1684735624325') format('woff2'),
  url('iconfont.woff?t=1684735624325') format('woff'),
  url('iconfont.ttf?t=1684735624325') format('truetype');
}
@font-face {
  font-family: "iconfont"; /* Project id 4105056 */
  src: url('iconfont2.woff2?t=1685951694673') format('woff2'),
  url('iconfont2.woff?t=1685951694673') format('woff'),
  url('iconfont2.ttf?t=1685951694673') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuanshipin:before {
    content: "\ea5b";
}

.icon-yuyinwenjian:before {
    content: "\ea5c";
}

.icon-button_shanchu:before {
    content: "\ea5d";
}

.icon-button_jiedianguanli:before {
    content: "\ea5e";
}

.icon-button_xinjian:before {
    content: "\ea5f";
}

.icon-close:before {
    content: "\ea60";
}

.icon-arrow_down:before {
    content: "\ea61";
}

.icon-top_xinxi:before {
    content: "\ea62";
}

.icon-saber_wenjianjia:before {
    content: "\ea63";
}

.icon-saber_down:before {
    content: "\ea64";
}

.icon-top_geren:before {
    content: "\ea65";
}

.icon-top_gengduo:before {
    content: "\ea66";
}

.icon-top_sousuo:before {
    content: "\ea67";
}

.icon-shangchuantupian:before {
  content: "\e61e";
}
