// 全局变量
$color1:#00F0FF;
$color2:#0085FF;
$color3:#FFB966;
$color4:#ff7136;
$color5:#88ebaa;
$color6:#ff0000;
$color7:#00ff48;
$font-size-large:32px;
$font-size-big:28px;
$font-size-middle:20px;
$font-size-small:16px;

.value-s {
    color: $color3 !important;
}

.big-name {
    font-size: $font-size-big;
    color: #fff;
}

.big-value {
    font-size: $font-size-big;
    color: $color1;
}

.mid-name {
    font-size: $font-size-middle;
    color: #fff;
}

.mid-value {
    font-size: $font-size-middle;
    color: $color1;
}

.small-name {
    font-size: $font-size-small;
    color: #fff;
}

.small-value {
    font-size: $font-size-small;
    color: $color1;
}

.large-value {
    font-size: $font-size-large;
    color: $color1;
}

.font-b-r {
    font-size: $font-size-big;
    color: $color6;
}
.font-b-g {
    font-size: $font-size-big;
    color: $color7;
}